---
title: Anastasiia Haioshko Portfolio
---

<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="/src/css/style.css">
		<title>{{title}}</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	</head>
	
<main>
				<header class="major">
					{% include "nav.njk%}
				</header>
						<header class="major">
							{% include "nav.njk%}
						</header>

						<header class="major">
							{% include "nav.njk%}
						</header>
                        </main>

                         {{ content | safe }}


		<!-- Footer -->
			<section id="footer">
				<div class="container">
					<header class="major">
						<h2>Get in touch</h2>
					</header>
					<form method="post" action="#">
						<div class="row gtr-uniform">
							<div class="col-6 col-12-xsmall"><input type="text" name="name" id="name" placeholder="Name" /></div>
							<div class="col-6 col-12-xsmall"><input type="email" name="email" id="email" placeholder="Email" /></div>
							<div class="col-12"><textarea name="message" id="message" placeholder="Message" rows="4"></textarea></div>
							<div class="col-12">
								<ul class="actions special">
									<li><input type="submit" value="Send Message" class="primary" /></li>
								</ul>
							</div>
						</div>
					</form>
				</div>
				<footer>
					<ul class="icons">
						<li><a href="https://www.instagram.com/nastia_haioshko/" class="icon brands alt fa-instagram"><span class="label">Instagram</span></a></li>
						<li><a href="https://github.com/anastasiiahaioshko" class="fab fa-github-square"><span class="label">Github</span></a></li>
					</ul>
				</footer>
			</section>

	</body>
						</link>
                        </html>